@theme "gruvbox-dark-soft.rasi"

* {
	border: 0;
	border-radius: 2;
	margin: 0;
	padding: 3;	
}

configuration {
  	font: "JetBrainsMono Nerd Font 12";
	display-drun: "";
  	modi: "drun";
  	show-icons: false;
  	drun-display-format: "{name}";

}

window {
	width: 450px;
}

listview {
	lines: 8;
	scrollbar: false;
}

